body {
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

.container {
	width: 300px;
	margin: auto;
}

#app h1 {
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	padding: 16px 0;
}

#app li {
	line-height: 1.5;
}

#app input[type="text"] {
	padding: 2px;
}

.command {
	font-size: 12px;
	cursor: pointer;
	color: #08c;
}

#app ul {
	padding: 0;
	list-style: none;
}

#app li > span.done {
	text-decoration: line-through;
	color: #bbb;
}

.info {
	color: #bbb
	font-size: 12px;
	font-weight: normal;
}

#app button {
display: block;
  position: relative;
  text-decoration: none;
  height:35px;
  width: 90px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  background: #42a5f5;
  border:solid 1px #fff;
  overflow: hidden;
  float: right;
}
#app button:before{
  content:"";
  position: absolute;
  bottom: -27px;
  left: 0;
  height:35px;
  width:120px;
  background : #fff;
  opacity: 0.3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#app button:hover:before{
  bottom:0;
}
