<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" conttent="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>My Vue App</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>

		<div id="app" class="container">
			<h1>
				todoリスト
				<button @click="purge">Purge</button>
				<span class="info">({{ remaining.length }}/{{ todos.length }})</span>
			</h1>
			<ul>
				<li v-for="(todo,index) in todos">
					<input type="checkbox" v-model="todo.isDone">
					<span :class="{done: todo.isDone}">{{ todo.title }}</span>
					<span @click="deleteItem(index)" class="command">[x]</span>
				</li>
				<li v-show="!todos.length">Nothing to do,yay!</li>
			</ul>
			<form @submit.prevent="addItem">
				<input tyoe="text" v-model="newItem">
				<input type="submit" value="Add">
			</form>
			<p>Total Likes: {{ total }}</p>
			<like-component message="♡" @increment="incrementTotal"></like-component>
			<like-component message="☆" @increment="incrementTotal"></like-component>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="js/main.js"></script>
	</body>
</html>
